<span class="p-input-icon-left m-2">
    <i class="pi pi-search"></i>
    <input type="text" pInputText [(ngModel)]="filterText" placeholder="Ürün Araması">  
   
           
</span>


    <div class="row">
 
        <div *ngFor="let product of products | filter:filterText"  class="col-md-4 ">
            <p-card  header="{{product.name }}"   [style]="{ 'width': '16em','height': '33em','margin': '1em'}">
                <ng-template pTemplate="header" >
                    <img alt="Card" src="https://via.placeholder.com/150">
                </ng-template>
          <div  >
            <p> Fİyatı:{{product.unitPrice |currency:'USD'}}</p>
            <p> Stok:{{product.unitsInStock}}</p>
            <p> Vat:{{product.unitPrice| vat:10 |currency:'USD'}}</p>
          </div>
       
       
            </p-card>
           
            <div class="delete">
                <button pButton type="button" label="Delete" [style]="{ 'width': '6em','height': '3em','padding': '1em'}"
                class="p-button-danger" 
                (click) ="deleteProduct(product.id)"></button>
            </div>
        </div>
     
      
    </div>
    
